@media (max-width: 480px) {
    footer {
        background-color: #1E90FF;
        height: 5vh;
        bottom: 0;
        position: relative;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        p {
            margin: 0.5em;
            margin-top: 0.5em;
            color: white;
        }
    }

    .fixo {
        position: fixed;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    footer {
        background-color: #1E90FF;
        height: 5vh;
        bottom: 0;
        position: relative;
        width: 100%;
        font-size: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        p {
            margin: 0.5em;
            margin-top: 0.9em;
            color: white;
        }
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    footer {
        background-color: #1E90FF;
        height: 5vh;
        bottom: 0;
        position: fixed;
        width: 100%;
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        p {
            margin: 1em;
            margin-top: 1em;
            color: white;
        }
    }
}

@media (min-width: 1280px) {
    footer {
        background-color: #1E90FF;
        height: 5vh;
        bottom: 0;
        position: fixed;
        width: 100%;
        font-size: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        p {
            margin: 0.5em;
            margin-top: 0.5em;
            color: white;
        }
    }
}