@media (min-width: 769px) and (max-width: 1279px) {
    #idNumCnpj {
        width: 11vw;
        width: 19vw;
    }

    #idRazaoSocial {
        width: 19.3vw;
    }

    #idNomeFantasia {
        width: 18vw;
    }

    #idNumCpf {
        width: 11vw;
    }

    #idIdade {
        width: 10.3vw;
    }

    #idIdadeEmpresa {
        width: 10.3vw;
    }

    #idSexo {
        width: 11.2vw;
    }

    #idTxtEmail {
        width: 24vw;
    }

    #idNumTelefone {
        width: 17vw;
    }

    #idRua {
        width: 19.5vw;
    }

    #idCep {
        width: 20vw;
    }

    #idNumero {
        width: 17.5vw;
    }

    #idComp {
        width: 19vw;
    }

    #idBairro {
        width: 18.5vw;
    }

    #idCidade {
        width: 23.5vw;
    }

    #idSelEstados {
        width: 24.5vw;
    }

    #idSelPaises {
        width: 20vw;
    }
}

@media (min-width: 1280px) {
    #idNumCnpj {
        width: 10.5vw;
        width: 16vw;
    }

    #idTxtName {
        width: 22.5vw;
    }

    #idRazaoSocial {
        width: 19vw;
    }

    #idNomeFantasia {
        width: 18vw;
    }

    #idIdadeEmpresa {
        width: 9.5vw;
    }

    #idNumCpf {
        width: 17vw;
    }

    #idIdade {
        width: 16vw;
    }

    #idSexo {
        margin-top: 5px;
        width: 23.5vw;
    }

    #idTxtEmail {
        width: 22.5vw;
    }

    #idNumTelefone {
        width: 14.7vw;
    }

    #idRua {
        width: 19vw;
    }

    #idCep {
        width: 17vw;
    }

    #idNumero {
        width: 15vw;
    }

    #idComp {
        width: 18.5vw;
    }

    #idBairro {
        width: 16vw;
    }

    #idCidade {
        width: 22vw;
    }

    #idSelEstados {
        width: 22.5vw;
    }

    #idSelPaises {
        width: 17.3vw;
    }
}